# Environment files
.env

# Python cache files
__pycache__/
src/scraping/__pycache__/

# Application-specific cache
.cache
.spotify_cache

# Logs
logs/

# Other files
objectives.txt
test_load_final_csv.ipynb
db_data.txt

# Raw files because of file name length
raw/

# Transformed files because of file name length
transformations/

# Processed files
processed/

# Patches
patch_album_metadata.py