# Environment files
.env

# Python cache files
__pycache__/
src/scraping/__pycache__/

# Application-specific cache
.cache
.spotify_cache

# Logs
logs/

# Other files
objectives.txt

# Raw files because of filen ame length
raw/

# Transformed files because of file name length
transformations/